.add-user-section{
    padding-left: 17px !important;
    padding-right: 17px !important;
    color: #2bbf1a;
    background-color: #ffffff;
    border-radius: 400rem;
    font-size: 1.5rem;
    border: 1px solid #64bb35;
}

.add-user-sectionA{
    padding-top: 25px !important;
    color: #676c7b;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.spanAdd{
    font-size: 17px;
    color: #3f475e;
    margin-bottom: 13px
}
.spanAdd:hover{
    color: #643ec7
}

.add-text-color {
   color: #dddddd;
}

.logout {
    color: #676c7b;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
