<!--Contact Section-->
<section class="contact-section">

    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Grooming With Love And Care</div>
            <h2>Зв'язатися з нами</h2>
        </div>
        <!-- <div class="sec-title">
            <h2>Get In Touch</h2>
            <div class="title">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </div>
        </div> -->
        <div class="row clearfix">
            <!--Form Column-->
            <div class="form-column col-md-7 col-sm-12 col-xs-12">

                <!--Contact Form-->
                <div class="contact-form">
                    <form (ngSubmit)="contactForm()">
                        <!--Form Group-->
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email Address*" [(ngModel)]="contactUs.email" required>
                        </div>
                        <!--Form Group-->
                        <div class="form-group">
                            <input type="text" name="subject" value="" placeholder="Subject*" [(ngModel)]="contactUs.subject" required>
                        </div>
                        <!--Form Group-->
                        <div class="form-group">
                            <textarea name="message" placeholder="Your Message*" [(ngModel)]="contactUs.message"></textarea>
                        </div>
                        <!--Form Group-->
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-four" (click)="openModal('custom-modal-1')">Надіслати</button>
                        </div>
                    </form>
                </div>
                <!--Contact Form-->

            </div>
            <!--Info Column-->
            <div class="info-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <ul>
                        <li>
                            <span>Адреса:</span> вул. Київська 25</li>
                        <li>
                            <span>Тел:</span>(093)6710404</li>
                        <li>
                            <span>email:</span>groomlviv@gmail.com </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <modal id="custom-modal-1" style="z-index:998;">
        <div class="modal-background">
            <div class="notification-window">
                <img src="../../../../../../../assets/app/media/images/logo-charliewoof.png" style="width: 243px; height: 230px;">
                <h3 class="notification-header1">Дякуємо що зв'язалися з нами!</h3>
                <h4 class="notification-header2">Повідомлення успішно відправлено</h4>
                <button class="notification-button" (click)="closeModal('custom-modal-1');">Закрити</button>
            </div>
            <div class="modal-background1"></div>
        </div>
    </modal>
</section>
<!--End Contact Section-->

<!--Map Section-->
<section class="map-section">
    <!--Map Outer-->
    <div class="map-outer">
        <!--Map Canvas-->
        <agm-map [zoom]="15" style="height: 400px;" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
</section>
<!--End Map Section-->