<div class="main-div">
    <div class="control-panel">
        <div class="portlet">
            <div class="panel">
                <p>Форма зміни паролю</p>
                <div class="statusButton">

                </div>
            </div>
            <form id="Login" (ngSubmit)="f.form.valid && saveUserClick($event)" #f="ngForm" novalidate>
                <section class="form-block">
                    <input type="hidden">
                    <div class="form-group1">
                        <div class="col-lg-8 col-xl-3">
                            <label class="label-form" for="title">
                                Введіть новий пароль
                            </label>
                        </div>
                        <div class="col-lg-8 col-xl-5">
                            <input class="form-control" type="password" minlength="8" name="password" autocomplete="off" [(ngModel)]="newPassword" #password="ngModel"
                                required>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="col-lg-8 col-xl-3">
                            <label class="label-form" for="title">
                                Підтвердіть пароль
                            </label>
                        </div>
                        <div class="col-lg-8 col-xl-5">
                            <input class="form-control" type="password" minlength="8" name="password" autocomplete="off" [(ngModel)]="secondPassword"
                                #password="ngModel" required>
                        </div>
                    </div>
                    <div class="panel" *ngIf="submitted && erorr">
                        <label class="panel"> Невірно введдений пароль</label>
                    </div>
                    <div class="col-lg-8 col-xl-3">
                        <div class="btn-group">
                            <button type="submit" class="btn-accent notification-button success" (click)="saveUserClick($event)">Зберегти</button>
                            <button type="button" class="notification-button danger" (click)="cancelClick($event)">Відмінити</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>