<section class="counter-section">
    <div class="auto-container">
        <div class="image-layer" style="background-image:url(../../../../../../../assets/app/media/images/background/4.jpg)"></div>
        <h2>
            <span>We Offers The Best</span>Pet Care Solutions</h2>
        <div class="counter-box">
            <div class="fact-counter">
                <div class="row clearfix">

                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-easter-bunny"></span>
                            </div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="748">0</span>
                            </div>
                            <h4 class="counter-title">Pet Adoptions</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-award"></span>
                            </div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="120">0</span>
                            </div>
                            <h4 class="counter-title">Pet Awards</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-brush"></span>
                            </div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="350">0</span>
                            </div>
                            <h4 class="counter-title">Pets Gromming</h4>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-money-bag"></span>
                            </div>
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="3000" data-stop="916">0</span>
                            </div>
                            <h4 class="counter-title">Our Donators</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>