<section class="testimonial-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered" style="margin-top:2%">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">{{getMagicPageForType(EnumNames.testimonial)?.Description}}</div>
            <h2>{{getMagicPageForType(EnumNames.testimonial)?.Title}}</h2>
        </div>
    </div>

    <div class="container">
        <div id="myCarouseltestimonial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption1">
                        <div class="quote-icon">
                            <span class="icon flaticon-quotation-marks"></span>
                        </div>
                        <div class="text">{{getMagicPageForType(EnumNames.testimonial)?.SeoDescription}}</div>
                        <div class="author-image">
                            <img src="{{getMagicPageForType(EnumNames.testimonial)?.SeoKeywords}}" alt="" />
                        </div>
                        <div class="author-name">{{getMagicPageForType(EnumNames.testimonial)?.SeoTitle}}</div>
                    </div>
                </div>
                <div class="item" *ngFor="let section of getContentItems(EnumNames.testimonial)">
                    <div class="carousel-caption1">
                        <div class="quote-icon">
                            <span class="icon flaticon-quotation-marks"></span>
                        </div>
                        <div class="text">{{section?.Description}}</div>
                        <div class="author-image">
                            <img src="{{section?.Icon}}" alt="" />
                        </div>
                        <div class="author-name">{{section?.Title}}</div>
                    </div>
                </div>

                <!--Testimonial Block-->
                <!-- <div class="item ">
                    <div class="carousel-caption1">
                        <div class="quote-icon">
                            <span class="icon flaticon-quotation-marks"></span>
                        </div>
                        <div class="text">Дякую за чудову стрижку Річарда, дуже приємний та професійний колектив і атмосфера </div>
                        <div class="author-image">
                            <img src="../../../../../../../assets/app/media/images/petovner/petovner3.jpg" alt="" />
                        </div>
                        <div class="author-name">Лілія</div>
                    </div>
                </div>

                <div class="item ">
                    <div class="carousel-caption1">
                        <div class="quote-icon">
                            <span class="icon flaticon-quotation-marks"></span>
                        </div>
                        <div class="text">Завжди приємний персонал😍 якісні послуги, те що потрібно нашим улюбленцям</div>
                        <div class="author-image">
                            <img src="../../../../../../../assets/app/media/images/petovner/petovner4.jpg" alt="" />
                        </div>
                        <div class="author-name">Марія</div>
                    </div>
                </div>

                <div class="item ">
                    <div class="carousel-caption1">
                        <div class="quote-icon">
                            <span class="icon flaticon-quotation-marks"></span>
                        </div>
                        <div class="text">
                            Перший грумінг салон Львова, після дзвінка більше нічого не шукала. Дуже вдячна за тримінг фокса),
                            у вас дуже класно, дуже приємна атмосфера
                        </div>
                        <div class="author-image">
                            <img src="../../../../../../../assets/app/media/images/petovner/petovner5.jpg" alt="" />
                        </div>
                        <div class="author-name">Марія</div>
                    </div>
                </div> -->
            </div>
            <a class="carousel-control-prev" href="#myCarouseltestimonial" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarouseltestimonial" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>