<div class="main-div" #clickTable>
    <div class="control-panel">
        <div class="portlet">
            <div class="panel">
                <p>Список сторінок</p>
                <div class="statusButton">
                    <div class="add-button">
                        <a class="aLink status" [routerLink]="['/ControlPanel/pagesBuilder/newSection']" routerLinkActive="active">
                            <span class="add-link">+ Створити</span>
                        </a>
                    </div>
                </div>
            </div>
            <table #clickTable class="table table-striped">
                <thead style="background-color: #edeef3;">
                    <tr>
                        <th class="clr-col-1 headerDataGrid">#</th>
                        <th class="clr-col-2 headerDataGrid">Заголовок</th>
                        <th class="clr-col-4 headerDataGrid">Опис</th>
                        <th class="clr-col-3 headerDataGrid">Оновлення</th>
                        <th class="clr-col-2 headerDataGrid">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let section of sections; let i = index;" class="tr-pageDuilder">
                        <td class="clr-col-1 titleDataGrid ">{{i+1}}</td>
                        <td class="clr-col-2 titleDataGrid ">
                            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                                {{section?.Title}}
                            </a>
                        </td>
                        <td class="clr-col-4 titleDataGrid ">
                            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                                {{section?.Description}}
                            </a>
                        </td>
                        <td class="clr-col-3 titleDataGrid ">
                            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                                {{section?.UpdatedOnUtc}}
                            </a>
                        </td>
                        <td class="clr-col-2 titleDataGrid ">
                            <div class="actions">
                                <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/contentList', section?.Id]" routerLinkActive="active">
                                    <span>
                                        <img src="./../../../../../../assets/app/media/images/icon/order.svg" style="height: 17px;">
                                        <span> Контент</span>
                                    </span>
                                </a>
                                <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                                    <span>
                                        <img src="./../../../../../../assets/app/media/images/icon/edit.svg" style="height: 17px;">
                                        <span> Редагувати</span>
                                    </span>
                                </a>
                                <a class="aLink-button" (click)="openModalClick($event, section?.Id)">
                                    <img src="./../../../../../../assets/app/media/images/trash.svg" style="height: 17px;">
                                    <span class="delete-icon">Видалити</span>
                                </a>
                            </div>
                        </td>
                        <modal id="custom-modal-1" style="z-index:998;">
                            <div class="modal-background">
                                <div class="notification-window">
                                    <img class="warning-icon" src="./../../../../../../assets/app/media/images/icon/warning.png">
                                    <h4 class="notification-header">Ви впевнені, що бажаєте це видалити?</h4>
                                    <h5 class="notification-header">Цю дію неможливо відмінити.</h5>
                                    <div class="buttons">
                                        <button class="notification-button success" (click)="deleteSectionClick($event)">Продовжити</button>
                                        <button class="notification-button danger" (click)="closeModal('custom-modal-1')">Скасувати</button>
                                    </div>
                                </div>
                                <div class="modal-background1"></div>
                            </div>
                        </modal>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-action-bar>
        <clr-button-group class="btn-lg">
        </clr-button-group>
    </clr-dg-action-bar>

    <!-- <clr-dg-column class="clr-col-1 headerDataGrid" [clrDgField]="title">
        #
    </clr-dg-column>
    <clr-dg-column  class="clr-col-3 headerDataGrid" [clrDgField]="title">
        Заголовок
    </clr-dg-column>
    <clr-dg-column class="clr-col-4 headerDataGrid" [clrDgField]="description">
        Опис
    </clr-dg-column>
    <clr-dg-column class="clr-col-3 headerDataGrid" [clrDgField]="lastUpdate">
        Оновлено
    </clr-dg-column>
    <clr-dg-column class="clr-col-2 headerDataGrid" [clrDgField]="lastUpdate">
    </clr-dg-column>
    <clr-dg-row *ngFor="let section of sections; let i = index;" [clrDgItem]="section">
        <clr-dg-cell class="clr-col-1 titleDataGrid">
            {{i+1}}.{{item}}
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-3 titleDataGrid">
            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                {{section?.Title}}
            </a>
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-4 titleDataGrid">
            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                {{section?.Description}}
            </a>
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-3 titleDataGrid">
            <a class="aLink" [routerLink]="['/ControlPanel/pagesBuilder/edit', section?.Id]" routerLinkActive="active">
                {{section?.UpdatedOnUtc}}
            </a>
        </clr-dg-cell>
        <clr-dg-cell class="clr-col-2 titleDataGrid ">
            <button class="notification-buttonX fa fa-plus" [routerLink]="['/ControlPanel/pagesBuilder/contentList', section?.Id]"></button>
            <button class="notification-buttonX fa fa-trash" (click)="deleteSectionClick($event, section?.Id)"></button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} секцій з {{pagination.totalItems}}
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="totalCount"></clr-dg-pagination>
    </clr-dg-footer> -->

</clr-datagrid>