<div class="page-wrapper">
    <!--Main Footer-->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    <!--big column-->
                    <div class="big-column col-md-8 col-sm-12 col-xs-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="../../../../../../assets/app/media/images/logo-charliewoof22.png" alt="" />
                                        </a>
                                    </div>
                                    <!-- <div class="text">This prodigiously grew tortoise charact stupidly pernicious jeepers along while accordingly under useful much salacious walking fars before some supp aesthetically wow shuddered.</div> -->
                                    <ul class="social-icon-two">
                                        <!-- <li><a href="#"><span class="fa fa-twitter"></span></a></li> -->
                                        <li>
                                            <a target="_blank" rel="noopener noreferrer" href="{{getMagicPageForType(EnumNames.links)?.Content}}">
                                                <span class="fa fa-facebook-square"></span>
                                            </a>
                                        </li>
                                        <!-- <li><a href="#"><span class="fa fa-google-plus"></span></a></li> -->
                                        <li>
                                            <a target="_blank" rel="noopener noreferrer" href="{{getMagicPageForType(EnumNames.links)?.SeoDescription}}">
                                                <span class="fa fa-youtube-play"></span>
                                            </a>
                                        </li>
                                        <!-- <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li> -->
                                        <li>
                                            <a target="_blank" rel="noopener noreferrer" href="{{getMagicPageForType(EnumNames.links)?.SeoTitle}}">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-md-8 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2>Посилання</h2>
                                    <ul class="links" style=" columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                                        <li>
                                            <a pageScroll href="#scroll-to-top">{{getMagicPageForType(EnumNames.home).Title}}</a>
                                        </li>
                                        <li>
                                            <a pageScroll href="#scroll-to-fluid">{{getMagicPageForType(EnumNames.fluid).Title}}</a>
                                        </li>
                                        <li>
                                            <a pageScroll href="#scroll-to-services">{{getMagicPageForType(EnumNames.services).Title}}</a>
                                        </li>
                                        <li>
                                            <a pageScroll href="#scroll-to-testimonial">{{getMagicPageForType(EnumNames.testimonial).Title}}</a>
                                        </li>
                                      
                                        <li>
                                            <a pageScroll href="#scroll-to-contact">{{getMagicPageForType(EnumNames.contact).Title}}</a>
                                        </li>
                                        <li>
                                            <a pageScroll href="#scroll-to-prices">{{getMagicPageForType(EnumNames.prices).Title}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--big column-->
                    <div class="big-column col-md-4 col-sm-12 col-xs-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                    <h2>Контакти</h2>
                                    <ul>
                                        <li>
                                            <span class="icon fa fa-map-marker"></span>Адреса: {{getMagicPageForType(EnumNames.contact).Content}}
                                            <br>Львів 79013</li>
                                        <li>
                                            <span class="icon fa fa-phone"></span>Тел. {{getMagicPageForType(EnumNames.contact).SeoTitle}}</li>
                                        <li>
                                            <span class="icon fa fa-envelope"></span>{{getMagicPageForType(EnumNames.contact).SeoDescription}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">-2018-
                    <span>Charlie&Woof</span> • All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->
</div>
<!--End pagewrapper-->