.class-decorator {
    display: inline-block;
    border: 1px solid black;
}

table {
    margin-left: 10px;
    padding-left: 30px;
}

.range {
    margin-top: 5px;
}

.salary {
    width: 40px;
    height: 25px;
}

.search-input {
    margin-left: -20px;
    padding-left: 20px;
}

.username-list {
    margin-bottom: 0;
    .username:not(:last-child)::after {
        content: ", ";
    }
    .username:last-child::after {
        content: ".";
    }
}

.align-left-button-group {
    float: right;
}

.datagrid-action-bar {
    display: block;
}

.align-left-button-group {
    float: right;
}

.datagrid-action-bar {
    display: block;
}

.titleDataGrid {
    font-size: 14px;
    padding: 14px;
    color: #474a4c;
    text-align: center !important;
    max-width: 260px;
}

.headerDataGrid {
    font-size: 17px;
    padding: 14px;
    text-align: center !important;
    font-weight: 10;
}

clr-dg-footer {
    font-size: small;
}

.aLink {
    color: #474a4c;
    padding-bottom: 3px;
    line-height: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:host /deep/ .btn-success-outline {
    height: auto;
}

table td,
th {
    font-size: 14px;
}

table {
    margin-left: 10px;
    padding-left: 0px;
}

.titleCss {}

.notification-buttonX {
    border-radius: 100px;
    float: right;
    padding: 3px 4px;
    min-width: 40px;
    font-size: 20px;
    font-weight: 100;
    margin-right: 6px;
    margin-top: -5px;
    background-color: #fff;
    border: 1px solid #ffffff;
}

.notification-buttonX:hover {
    border: 1px solid #474a4c;
}

.tr-pageDuilder {}

.tr-pageDuilder:hover {
    background-color: #edeef3;
}

table {
    background-color: #fff;
    border-radius: 15px;
}

modal {
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.modal-background1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: -1;
}

body.modal-open {
    overflow: hidden;
}

.notification-window-app {
    background-color: #e7470c;
    opacity: 1;
    border-radius: 20px;
    z-index: 1111;
    display: inline-block;
    padding: 15px;
    width: 500px;
    margin: 25vh calc(50vw - 250px);
}

//  .notification-window {
//    background-color: #dadada;
//    opacity: 1;
//    border-radius: 20px;
//    z-index: 1111;
//    display: inline-block;
//    padding: 15px;
//    width: 500px;
//    margin: 25vh calc(50vw - 250px);    
//    text-align: center;
//  }
//  .notification-button {
//    border-radius: 50px;
//    padding: 10px 10px;
//    min-width: 120px;
//    font-size: 16px;
//    color: #ffffff;
//    margin-left: auto;
//    background-color: #384186;
//    border: 2px solid #25215f;
//    margin-right: auto;
//  }
//  .notification-header {
//    margin: 18px 0px; 
//    font-size: 17px;
//  }
.notification-window {
    background-color: #fdfdfd;
    opacity: 1;
    /* border-radius: 20px; */
    z-index: 1111;
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 500px;
    margin: 25vh calc(50vw - 250px);
    text-align: center;
}

.buttons {
    display: flex;
}

.notification-button {
    color: white;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 41px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notification-header {
    margin: 18px 0px;
    font-size: 17px;
}

.warning-icon {
    width: 72px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.success {
    background-color: #30da44;
}

.danger {
    background-color: #f04612;
}

.add-cont-item {
    padding-left: 10px;
}

.aLink-button {
    color: #474a4c;
    padding-bottom: 3px;
    line-height: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aLink-button:hover {
    cursor: pointer;
}

.delete-icon:hover {
    text-decoration: underline;
}

.add-btn {
    display: flex;
    font-size: 17px;
    flex-direction: row-reverse;
}

.actions {
    display: flex;
    flex-direction: column;
}

.ul-client {
    margin-bottom: 4px;
    text-align: left;
}

.add-button {
    display: flex;
    flex-direction: row-reverse;
}

.m-subheader__title {
    display: inline-block;
    padding: 0px 0px 23px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.55rem;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    max-width: 100%;
    padding: 33px 25px 42px 25px;
    background-color: white;
    opacity: 0.98;
    .portlet {
        flex-direction: initial;
        margin-left: auto;
        .panel {
            background-color: #fff;
            display: flex;
            margin-bottom: 12px;
            /* flex-direction: column; */
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            p {
                color: #575962;
                font-family: sans-serif;
                font-weight: 560;
                font-size: 20px;
                margin-bottom: 30px;
                line-height: 24px;
                position: absolute;
                padding: -9px;
                margin-bottom: 0px;
            }
            .statusButton {
                margin-bottom: 20px;
                margin-left: auto;
                .add-button {
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .15);
                    border: 1px solid;
                    padding: 5;
                    background-color: #716aca;
                    color: #a54141;
                    /* box-sizing: border-box; */
                    /* position: relative; */
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    outline: 0;
                    border: none;
                    -webkit-tap-highlight-color: transparent;
                    display: inline-block;
                    white-space: nowrap;
                    text-decoration: none;
                    vertical-align: baseline;
                    text-align: center;
                    margin: 0;
                    min-width: 88px;
                    line-height: 36px; // padding: 0 16px;
                    /* border-radius: 2px; */
                    /* overflow: visible; */
                    transform: translate3d(0, 0, 0);
                    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
                    .aLink {
                        color: #474a4c;
                        line-height: 13px;
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }
                    .status {
                        padding: 15px;
                        font-size: 15px;
                        .add-link {
                            font-family: Roboto, "Helvetica Neue", sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}