<section class="welcome-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Grooming With Love And Care</div>
            <h2>Про Нас</h2>
        </div>
        <div class="row clearfix">

            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">

                    <iframe class="videoContainer__video" loop  src="https://www.youtube.com/embed/iIjdMZGHyPw"
                      ></iframe>

                </div>
            </div>

            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="text">
                        <p>Якщо б твій улюблинець сам обирав салон, він обрав би <strong>Charlie&WooF</strong>, адже це - місце
                       ідеальних стрижок,</p>  <p> турботливих грумерів, пахучих шампунів та улюблених смаколиків</p>
                    </div>
                    <!-- <ul class="list-style-one">
                        <li>ідеальних стрижок</li>
                        <li>турботливих грумерів</li>
                        <li>пахучих шампунів та улюблених смаколиків</li>
                    </ul> -->
                    <a pageScroll href="#scroll-to-services" class="theme-btn btn-style-two">Перейти до Сервісів</a>
                </div>
            </div>

        </div>
    </div>
</section>