
		<!-- Main Header -->
		<div id="scroll-to-top">
			<m-app-header></m-app-header>
		</div>
		<!--End Main Header -->

		<!--slider Section-->
		<m-app-slider-section class="slider-block"></m-app-slider-section>
		<!--End slider Section-->

		<!--Welcome Section-->
		<m-app-welcome-section></m-app-welcome-section>
		<!--End Welcome Section-->

		<!--Services Section-->
		<div #services  id="scroll-to-services">
			<m-app-services-section></m-app-services-section>
		</div>
		<!--End Services Section-->


		<!--Appointment Section-->
		<div #appointment id="scroll-to-appointment">
			<m-app-appointment-section></m-app-appointment-section>
		</div>
		<!--End Appointment Section-->

		<!--Pricing Section-->
		<div #prices id="scroll-to-prices">
			<m-app-pricing-section></m-app-pricing-section>
		</div>
		<!--End Pricing Section-->

		<!--Fluid Section One-->
		<div #fluid id="scroll-to-fluid">
			<m-app-fluid-section></m-app-fluid-section>
		</div>
		<!--End Fluid Section One-->

		<!--Testimonial Section-->
		<div #testimonial id="scroll-to-testimonial">
			<m-app-testimonial-section></m-app-testimonial-section>
		</div>
		<!--End Testimonial Section-->

		<!--Contact Section-->
		<div #contact id="scroll-to-contact">
			<m-app-contact-section></m-app-contact-section>
		</div>
		<!--End Contact Section-->

		<m-scroll-top></m-scroll-top>
		<!--Main Footer-->
		<m-app-footer></m-app-footer>
		<!--End Main Footer-->