<div class="main-div" #clickTable>
    <div class="control-panel">
        <div class="portlet">
            <div class="panel">
                <p>Список зображень</p>
                <div class="statusButton">
                    <div class="add-button">
                        <a class="aLink status" [routerLink]="['/ControlPanel/Upload']" routerLinkActive="active">
                            <span class="add-link">+ Створити</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead style="background-color: #edeef3;">
                    <tr>
                        <th class="clr-col-1 headerDataGrid">#</th>
                        <th class="clr-col-2 headerDataGrid">Зображення</th>
                        <th class="clr-col-3 headerDataGrid">Назва</th>
                        <th class="clr-col-3 headerDataGrid">Шлях</th>
                        <th class="clr-col-1 headerDataGrid"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let image of images; let i = index;" class="tr-pageDuilder">
                        <td class="clr-col-1 titleDataGrid ">{{i+1}}</td>
                        <td class="clr-col-2 titleDataGrid ">
                            <img [src]="createImagesPath(image.FileName)" alt="profile picture" style="width:60px; height:60px;">
                        </td>
                        <td class="clr-col-3 titleDataGrid ">
                            <a class="aLink">
                                {{image?.Name}}
                            </a>
                        </td>
                        <td class="clr-col-3 titleDataGrid ">
                            <a class="aLink">
                                {{createImagesPath(image?.FileName)}}
                            </a>
                        </td>
                        <td class="clr-col-1 titleDataGrid ">
                            <a class="aLink-button" (click)="openModalClick($event, image?.Id)">
                                <img src="../../../../../../../assets/app/media/images/trash.svg" style="height: 17px;">
                                <span class="delete-icon">Видалити</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<modal id="custom-modal-1" style="z-index:998;">
    <div class="modal-background">
        <div class="notification-window">
            <img class="warning-icon" src="./../../../../../../assets/app/media/images/icon/warning.png">
            <h4 class="notification-header">Ви впевнені, що бажаєте це видалити?</h4>
            <h5 class="notification-header">Цю дію неможливо відмінити.</h5>
            <div class="buttons">
                <button class="notification-button success" (click)="deleteImagesClick($event)">Продовжити</button>
                <button class="notification-button danger" (click)="closeModal('custom-modal-1')">Скасувати</button>
            </div>
        </div>
        <div class="modal-background1"></div>
    </div>
</modal>
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-action-bar>
    </clr-dg-action-bar>
</clr-datagrid>
<clr-dg-action-bar>
    <clr-button-group class="btn-lg">
    </clr-button-group>
</clr-dg-action-bar>
<!-- 
<a class="aLink" [routerLink]="['/ControlPanel/Upload']" routerLinkActive="active">
    <span>
        <img src="../../../../../../../assets/app/media/images/icon/add.svg" style="height: 17px;">
        <span class="add-cont-item"> Додати</span>
    </span>
</a> -->