<section class="save-pets-section">
    <div class="auto-container">
        <h2>Help Us & Save More Pets</h2>
        <div class="text">More forwardly echidna outside tiger split thanks vibrantly gosh hence pangolin however notwithstanding
            <br> leapt untruthful gauchely yikes komodo successful concentrically dully more.</div>
        <div class="prices-block">
            <div class="row clearfix">

                <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h3>$35</h3>
                        <a href="#" class="theme-btn btn-style-three">For Pets Food</a>
                    </div>
                </div>

                <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h3>$60</h3>
                        <a href="#" class="theme-btn btn-style-four">For Medicine</a>
                    </div>
                </div>

                <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h3>$85</h3>
                        <a href="#" class="theme-btn btn-style-five">For Vet Visit</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>