<div class="pull-right upper-right clearfix">

	<div class="nav-outer clearfix">
		<!-- Main Menu -->
		<nav class="main-menu">
			<div class="navbar-header">
				<!-- Toggle Button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="navbar-collapse collapse clearfix">
				<ul class="navigation clearfix">
					<!-- <li class="current dropdown">
						<a pageScroll href="#scroll-to-top">{{getMagicPageForType(EnumNames.home).Title}}</a>
					</li> -->
					<li class="dropdown">
						<a pageScroll href="#scroll-to-top">{{getMagicPageForType(EnumNames.home).Title}}</a>
					</li>
					<li>
						<a pageScroll href="#scroll-to-services">{{getMagicPageForType(EnumNames.services).Title}}</a>
					</li>
					<!-- <li class="dropdown">
						<a pageScroll href="#scroll-to-appointment">{{getMagicPageForType(EnumNames.appointment).Title}}</a>
					</li> -->
					<li class="dropdown">
						<a pageScroll href="#scroll-to-prices">{{getMagicPageForType(EnumNames.prices).Title}}</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-fluid">{{getMagicPageForType(EnumNames.fluid).Title}}</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-testimonial">{{getMagicPageForType(EnumNames.testimonial).Title}}</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-contact">{{getMagicPageForType(EnumNames.contact).Title}}</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Main Menu End-->
		<div class="outer-box">
		</div>
	</div>

</div>