<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="z-index:1000">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="z-index:999">

      <div class="item active">
        <img src="../../../../../../../assets/app/media/images/slider/slider1.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3 class="htext">Charlie&Woof </h3>
          <!-- <p>Some Text Some Text Some Text Some Text</p> -->
        </div>
      </div>

      <div class="item">
        <img src="../../../../../../../assets/app/media/images/slider/slider2.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3 class="htext">Гумінг з Любов'ю</h3>
          <!-- <p>Some TextSome Text Some TextSome TextSome Text</p> -->
        </div>
      </div>

      <div class="item">
        <img src="../../../../../../../assets/app/media/images/slider/slider3.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3 class="htext">Школа Гумінгу</h3>
          <!-- <p>Some TextSome TextSome TextSome TextSome Text</p> -->
        </div>
      </div>

    </div>

    <!-- Left and right controls -->


    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>