<section class="featured-section" style="background-image:url(../../../../../../../assets/app/media/images/background/2.png)">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-face-of-staring-dog"></span>
                        </div>
                        <h3>
                            <a href="#">we heal pets</a>
                        </h3>
                        <div class="text">quick veterinary services</div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-dog-bone"></span>
                        </div>
                        <h3>
                            <a href="#">we care pets</a>
                        </h3>
                        <div class="text">pet sheltering & adoption</div>
                    </div>
                </div>
            </div>

            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-duration="2500ms" data-wow-delay="0ms">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-pawprint-1"></span>
                        </div>
                        <h3>
                            <a href="#">we love pets</a>
                        </h3>
                        <div class="text">Show love & donate us</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>