<!--Services Section-->

<div class="auto-container">
    <!--Sec Title-->
    <div class="sec-title centered">
        <div class="separator">
            <span class="icon flaticon-pawprint-1"></span>
        </div>
        <div class="title">Grooming With Love And Care</div>
        <h2>Сервіси</h2>
    </div>
</div>
<section class="services-section" style="background-image:url(../../../../../../../assets/app/media/images/services.jpg)">

    <div class="container">
        <div id="myCarouselServices" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
                    <li data-target="#myCarouselServices" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarouselServices" data-slide-to="1"></li>
                    <li data-target="#myCarouselServices" data-slide-to="2"></li>
                </ol> -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <!-- <div class="single-item-carousel owl-carousel owl-theme">-->

                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices" src="../../../../../../../assets/app/media/images/icon/pet-shampoo.png">
                                    </span>
                                </div>
                                <h3>
                                    <!-- <a (click)="scroll(target)" >Купання</a> -->

                                    <a pageScroll href="#scroll-to-prices">Купання</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices" src="../../../../../../../assets/app/media/images/icon/pet.png">
                                    </span>
                                </div>
                                <h3>
                                    <a pageScroll href="#scroll-to-prices">Комплексна стрижка</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices-triming" src="../../../../../../../assets/app/media/images/icon/pet-brush.png">
                                    </span>
                                </div>
                                <h3>
                                    <a pageScroll href="#scroll-to-prices-triming">Тримінг</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices-cats" src="../../../../../../../assets/app/media/images/icon/black-cat.png">
                                    </span>
                                </div>
                                <h3>
                                    <a pageScroll href="#scroll-to-prices-cats">Котики</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices" src="../../../../../../../assets/app/media/images/icon/car.png">
                                    </span>
                                </div>
                                <h3>
                                    <a pageScroll href="#scroll-to-prices">Трасфер тварин</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="services-block col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box">
                            <div class="content">
                                <div class="icon-box">
                                    <span class="icon">
                                        <img pageScroll href="#scroll-to-prices-plass" src="../../../../../../../assets/app/media/images/icon/pet-comb.png">
                                    </span>
                                </div>
                                <h3>
                                    <a pageScroll href="#scroll-to-prices-plass">Додаткові послуги</a>
                                </h3>
                                <!-- <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!--  <div class="item">
                         <div class="single-item-carousel owl-carousel owl-theme">-->

                <!--Services Block-->
                <!-- <div class="services-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-pet-grooming"></span>
                                    </div>
                                    <h3>
                                        <a href="services.html">Pet Grooming</a>
                                    </h3>
                                    <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div>
                                </div>
                            </div>
                        </div> -->


                <!--Services Block-->
                <!-- <div class="services-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-dog-1"></span>
                                    </div>
                                    <h3>
                                        <a href="services.html">Pet Adoption</a>
                                    </h3>
                                    <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div>
                                </div>
                            </div>
                        </div> -->

                <!--Services Block-->
                <!-- <div class="services-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-dog-1"></span>
                                    </div>
                                    <h3>
                                        <a href="services.html">Pet Training</a>
                                    </h3>
                                    <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div>
                                </div>
                            </div>
                        </div> -->

                <!--Services Block-->
                <!-- <div class="services-block col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-animal-1"></span>
                                    </div>
                                    <h3>
                                        <a href="services.html">Pet Vaccination</a>
                                    </h3>
                                    <div class="text">Abore et dolore magna aliqua ut enim minim veniam quis nostrud exercitation ullamco laboris
                                        nisi aliquip eiusmod tempor incididunt labore.</div>
                                </div>
                            </div>
                        </div>
                    </div> -->

            </div>

            <!-- <a class="carousel-control-prev" href="#myCarouselServices" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarouselServices" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a> -->
        </div>
    </div>
</section>

<section class="appointment-section" style="background-image:url(../../../../../../../assets/app/media/images/background/3.jpg)">
    <div class="auto-container">
        <!--Sec Title-->

        <div class="sec-title light centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Grooming With Love And Care</div>
            <h2>Ми в Instagram</h2>
        </div>
    </div>
    <div class="instablok" style="width: 1273px; height: 321px;overflow: scroll; margin-left: auto; margin-right: auto;">
        <iframe src="//widget.stapico.ru/?q=grooming_lviv&s=250&w=4&h=9&b=1&bg=e67905&flw_bg=fa8100&p=20&title=Charlie%26Woof&flw_t=mmmm&profile=no&header=no&effect=2"
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden; width: 100%; height: 1805px;"></iframe>
        <!-- stapico - stapico.ru -->
        <!-- stapico - stapico.ru -->
        <!-- <iframe src="//widget.stapico.ru/?q=grooming_lviv&s=250&w=4&h=3&b=0&bg=e603e6&p=20&header=no&effect=2" allowtransparency="true"
            frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:2500px; height: 2005px"></iframe> -->
        <!-- stapico - stapico.ru -->

    </div>

</section>
<section class="appointment-section" style="background-image:url(../../../../../../../assets/app/media/images/background/3.jpg)">
    <div class="auto-container">
        <!--Sec Title-->

        <div class="sec-title light centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Grooming With Love And Care</div>
            <h2>Ми в Instagram</h2>
        </div>
    </div>
    <div class="instablok" style="width: 1160px; height: 383px; overflow: scroll; margin-left: auto; margin-right: auto;">
        <!-- <iframe src="//widget.stapico.ru/?q=grooming_lviv&s=250&w=4&h=3&b=0&bg=e603e6&p=20&header=no&effect=2" allowtransparency="true"
            frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:2500px; height: 2005px"></iframe> -->
        <!-- stapico - stapico.ru -->
        <iframe src="//widget.stapico.ru/?q=grooming_lviv&s=150&w=8&h=2&b=1&bg=e67905&flw_bg=fa8100&p=5&title=Charlie%26Woof&flw_t=mmmm&profile=no&effect=2"
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:scroll;width:100%; height: 100%"></iframe>
        <!-- stapico - stapico.ru -->
    </div>

</section>