.logout {
    color: #676c7b;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.add-user-sectionA{
    padding-top: 29px !important;
    color: #676c7b;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.claaasss{
    display: none;
}