<button (click)="scroll(target)"></button>

<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div #target>Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>
<div >Your target</div>