<div class="pull-right upper-right clearfix">

	<div class="nav-outer clearfix">
		<!-- Main Menu -->
		<nav class="main-menu">
			<div class="navbar-header">
				<!-- Toggle Button -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="navbar-collapse collapse clearfix">
				<ul class="navigation clearfix">
					<li class="current dropdown">
						<a pageScroll href="#scroll-to-top">Головна</a>

					</li>
					<li>
						<a pageScroll href="#scroll-to-services">Сервіси</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-appointment">Запис</a>
					</li>

					<li class="dropdown">
						<!-- <a pageScroll href="#scroll-to-prices" [routerLink]="['prices']">Прайси</a> -->
						<a pageScroll href="#scroll-to-prices">Прайси</a>						
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-fluid">Курси Грумінгу</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-testimonial">Відгуки</a>
					</li>
					<li class="dropdown">
						<a pageScroll href="#scroll-to-contact">Контакти</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Main Menu End-->
		<div class="outer-box">
		</div>
	</div>

</div>